/* Alapértelmezett világos mód */
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode beállítás */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Navbar sötét módban */
body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

/* Sötét mód input mező */
body.dark-mode input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

/* Dark mode dropdown */
body.dark-mode .dropdown-menu {
  background-color: #333;
  color: white;
}
